waSateliteWMS/Web References/wsASNOracle/AsnService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STF.Asn.Entity.Report" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STF.Asn.Entity.Report" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AsnReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocalPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AsnReport" nillable="true" type="tns:AsnReport" />
</xs:schema>