waSateliteWMS/Web References/wsASNOracle/AsnService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STF.Asn.Entity.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STF.Asn.Entity.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAsn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asn" nillable="true" type="tns:Asn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsn" nillable="true" type="tns:ArrayOfAsn" />
  <xs:complexType name="Asn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destiny" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfAsnDetail" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asn" nillable="true" type="tns:Asn" />
  <xs:complexType name="ArrayOfAsnDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AsnDetail" nillable="true" type="tns:AsnDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsnDetail" nillable="true" type="tns:ArrayOfAsnDetail" />
  <xs:complexType name="AsnDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LpnNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AsnDetail" nillable="true" type="tns:AsnDetail" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfPrepack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prepack" nillable="true" type="tns:Prepack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrepack" nillable="true" type="tns:ArrayOfPrepack" />
  <xs:complexType name="Prepack">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrepackDetail" nillable="true" type="tns:ArrayOfPrepackDetail" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prepack" nillable="true" type="tns:Prepack" />
  <xs:complexType name="ArrayOfPrepackDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrepackDetail" nillable="true" type="tns:PrepackDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrepackDetail" nillable="true" type="tns:ArrayOfPrepackDetail" />
  <xs:complexType name="PrepackDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrepackDetail" nillable="true" type="tns:PrepackDetail" />
</xs:schema>